@model IEnumerable<Dokument>

<h2>Dokumenti</h2>
<table class="table table-striped" id="table-dokumenti">
    <caption>Popis dokumenata</caption>
    <thead>
        <tr>
            @{
                var count = 0;
                string[] nazivi = { "Naslov", "Kategorija", "Sadržaj" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th class="text-left">
                        @nazivi[i - 1]
                    </th>
                }
                <th></th>
            }
        <tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var dokument in Model)
            {
                var dateTime = DateTime.Now;
                var autocompleteKey = dateTime.ToString() + dateTime.Nanosecond + dateTime.Millisecond;
                <tr>
                    <td class="text-left" id="idColumn">
                        <input type="hidden" id="count" value="@count" />
                        <input name="Dokument[@count].Naslov" value="@dokument.Naslov" />
                        <input id="idValue" name="Dokument[@count].DokumentId" value="@dokument.DokumentId" type="hidden" />
                    </td>
                    <td class="text-left">
                        <input value="@dokument.KategorijaDokumenta?.NazivKategorijeDokumenta" type="text"
                               data-autocomplete="KategorijaDokumenta" data-autocomplete-placeholder-name="@autocompleteKey" />
                        <input 
                               name="Dokument[@count].KategorijaDokumentaId" value="@dokument.KategorijaDokumentaId" type="hidden"
                               data-autocomplete-placeholder="@autocompleteKey" />
                    </td>
                    <td class="text-left col-sm-8">
                        <textarea name="Dokument[@count].Sadrzaj" rows="4" style="width:100%">@dokument.Sadrzaj</textarea>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>
                ++count;
            }
        }

        <tr>
            <td class="text-left col-sm-1">
                <input id="dokumenti-naslov" />
                <input id="zadnji-count" value="@count" hidden="hidden" />
            </td>
            <td class="text-left col-sm-1">
                <input id="dokument-kategorijaDokumenta"
                       data-autocomplete-placeholder-name="dokumentId" data-autocomplete="KategorijaDokumenta" />
                <input id="dokument-kategorijaDokumentaId" data-autocomplete-placeholder="dokumentId" type="hidden" />
            </td>
            <td class="text-left col-sm-8">
                <textarea id="dokumenti-sadrzaj"></textarea>
            </td>
            <td>
                <button id="dokument-dodaj" class="btn btn-sm btn-secondary" title="Dodaj"><i class="fas fa-plus"></i></button>
            </td>
        </tr>
    </tbody>
</table>
