@model RPPP_WebApp.Models.VrstaProjekta

@{
    ViewBag.Title = "Ažuriranje vrste projekta";
}

<form asp-route-id="@Model.IdVrstaProjekta"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      asp-action="Edit"
      method="post">

    <input asp-for="IdVrstaProjekta" class="form-control" type="hidden" class="form-control"/>

    <td class="text-start">
        <label asp-for="Naziv"></label>
        <span asp-validation-for="Naziv" class="text-danger"></span>
        <input asp-for="Naziv" class="form-control" />
    </td>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Ažuriraj</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">
            Odustani
        </a>
    </div>

</form>