@model RPPP_WebApp.Models.Valuta

@{
    ViewBag.Title = "Ažuriranje valute";
}

<form asp-route-id="@Model.Idvaluta"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      asp-action="Edit"
      method="post">

    <input asp-for="Idvaluta" class="form-control" type="hidden"/>

    <td class="text-start">
        <label asp-for="IsoOznaka"></label>
        <span asp-validation-for="IsoOznaka" class="text-danger"></span>
        <input asp-for="IsoOznaka" class="form-control"/>
    </td>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Ažuriraj</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">
            Odustani
        </a>
    </div>

</form>