@model RPPP_WebApp.ViewModels.ZahtjeviMDViewModel

@{
    ViewBag.Title = "Zahtjevi";
}

<h2>Popis zahtjeva</h2>

<br>

Odaberite željenu stranicu:

<table class="table table-sm table-striped table-hover">
    <tr>
        @for (var i = 1; ((i - 1) * Model.PagingInfo.ItemsPerPage) < Model.PagingInfo.TotalItems; i += 1)
        {
            @if (i == Model.PagingInfo.CurrentPage)
            {
                <a class="btn btn-dark"
                   href="@Url.Action(nameof(ZahtjevController.Index), new { page = i, sort = Model.PagingInfo.Sort,
                ascending = Model.PagingInfo.Ascending })">@i</a>
            }
            else
            {
                <a class="btn btn-primary"
                   href="@Url.Action(nameof(ZahtjevController.Index), new { page = i, sort = Model.PagingInfo.Sort,
                ascending = Model.PagingInfo.Ascending })">@i</a>
            }

        }
    </tr>
</table>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Šifra zahtjeva", "Šifra vrste zahtjeva", "Naziv zahtjeva" };
                for (int i = 1; i <= nazivi.Length; i++) {
                <th>
                    <a asp-route-sort="@i"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                        @nazivi[i - 1]
                    </a>
                </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var zahtjev in Model.Zahtjevi) {
        <tr>
                <td class="text-left">@zahtjev.Zahtjev.IdZahtjev</td>
                <td class="text-left">@zahtjev.Zahtjev.IdVrsteZahtjeva</td>
                <td class="text-left">@zahtjev.Zahtjev.Naziv</td>

                <td class="text-left">
                    <a asp-action="ShowZadaci" class="clickable-link"
                       asp-route-id="@zahtjev.Zahtjev.IdZahtjev"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending">
                        @zahtjev.NaziviZadataka
                    </a>
                </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
    <partial name="IncludeValidation" />

    <script>
        document.body.addEventListener("showMessage", function (evt) {
            toastr[evt.detail.messageType](evt.detail.message);
        })
    </script>
}