@model RPPP_WebApp.ViewModels.ZadaciMDV2ViewModel

@{
    ViewBag.Title = "Zadaci";
}

<h2>Popis zadataka</h2>

<br>

Odaberite željenu stranicu:

<table class="table table-sm table-striped table-hover">
    <tr>
        @for (var i = 1; ((i - 1) * Model.PagingInfo.ItemsPerPage) < Model.PagingInfo.TotalItems; i += 1)
        {
            @if (i == Model.PagingInfo.CurrentPage)
            {
                        <a class="btn btn-dark"
                           href="@Url.Action(nameof(ZadatakV2Controller.Index), new { page = i, sort = Model.PagingInfo.Sort,
                ascending = Model.PagingInfo.Ascending })">@i</a>
            }
            else
            {
                        <a class="btn btn-primary"
                           href="@Url.Action(nameof(ZadatakV2Controller.Index), new { page = i, sort = Model.PagingInfo.Sort,
                ascending = Model.PagingInfo.Ascending })">@i</a>
            }

        }
    </tr>
</table>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Naziv", "Vrsta zadatka", "Zahtjev", "Vrijeme isporuke", "Stupanj dovršenosti", "Prioritetnost", "Zadužene osobe"};
                for (int i = 1; i <= nazivi.Length; i++)
                {
                        <th>
                            <a asp-route-sort="@i"
                               asp-route-page="@Model.PagingInfo.CurrentPage"
                               asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                            </a>
                        </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var zadatak in Model.Zadaci)
        {
                <tr hx-target="this" hx-swap="outerHTML">
                <td class="text-left">
                    <a asp-action="Show"
                       asp-route-id="@zadatak.Zadatak.IdZadatak"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending">
                        @zadatak.Zadatak.Naziv
                    </a>
                </td>
                <td class="text-left">@zadatak.Zadatak.VrstaZadatka.NazivVrsteZdtk</td>
                <td class="text-left">@zadatak.Zadatak.Zahtjev.Naziv</td>
                <td class="text-left">@zadatak.Zadatak.VrijemeIsporuke.ToString("dd/M/yyyy")</td>
                <td class="text-left">@zadatak.Zadatak.StupanjDovrsenosti</td>
                <td class="text-left">@zadatak.Zadatak.Prioritetnost</td>
                <td class="text-left">@zadatak.NaziviZadOsoba</td>
                <td>
                    <a asp-action="Edit"
                        asp-route-id="@zadatak.Zadatak.IdZadatak"
                        asp-route-page="@Model.PagingInfo.CurrentPage"
                        asp-route-sort="@Model.PagingInfo.Sort"
                        asp-route-ascending="@Model.PagingInfo.Ascending"
                        class="btn btn-warning btn-sm" title="Ažuriraj">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger"
                            hx-confirm="Obrisati zadatak i pripadajuća zaduženja?"
                            hx-delete="@Url.Action(nameof(ZadatakMDV2Controller.Delete), new { id = zadatak.Zadatak.IdZadatak })"
                            title="Obriši"
                            id="obrisiZadatakMD">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
        <script src="~/js/pager.js" asp-append-version="true"></script>
        <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
        <partial name="IncludeValidation" />

        <script>
            document.body.addEventListener("showMessage", function (evt) {
                toastr[evt.detail.messageType](evt.detail.message);
            })
        </script>
}
